.projectBox {
    width: 368px;
    height: auto;
    border-radius: 16px;
    background-color: rgba(57, 62, 70, 0.5);
    display: flex;
    justify-content: center;
}

.projectBox img {
    margin: 70px 0 ;
    width: 320px;
    height: 170px;
}

